{% load static %} {% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'form.css' %}" />
    <title>Note's Form</title>
  </head>
  <body>
    <div class="formWrapper">
      <h1>Hello, Peeps!</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="userForm form1">
          <label for="to">To</label><br />
          <input type="text" id="to" name="to" required/><br />
        </div>
        <div class="userForm form1">
          <label for="froms">From</label><br />
          <input type="text" id="from" name="froms" required/><br />
        </div>
        <div class="userForm form2">
          <label for="title">Title</label><br />
          <input type="text" id="title" name="title" required/><br />
        </div>
        <div class="userForm">
          <label for="message">Messages</label><br />
          <textarea type="text" id="message" name="message"></textarea required><br />
        </div>
        <input class="button" type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
