{% load static %} {% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'note_list.css' %}" />
    <title>Friend's Notes</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>From Who to Whom?</h1>
      <div class="CardCollection">
        {% for note in notes %}
        <div class="card">
          <p class="title">{{note.title}}</p>
          <p class="orangny"><span>From: </span> {{note.froms}}</p>
          <p class="orangny"><span>To: </span> {{note.to}}</p>
          <p class="msg">{{note.message}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
