{% load static %} {% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'note_table.css' %}" />
    <title>Note's</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>From Who to Whom?</h1>
      <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Messages</th>
        </tr>
        {% for note in notes %}
        <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.froms }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
