<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      table,
      td,
      th {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 300px;
    "
  >
    <h1 style="text-align: center">Friend List</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.npm }}</td>
        <td>{{ friend.dob }}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="add" style="align-self: center; margin-top: 30px"
      ><button>Add Friend</button></a
    >
  </body>
</html>
