<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Friend</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px 500px;
        gap: 5px;
      }
    </style>
  </head>

  <body>
    <h1 style="text-align: center">Add Friend Form</h1>
    <form action="" method="POST">
      {% csrf_token %} {{form}}
      <input
        type="submit"
        value="submit"
        style="margin-top: 20px; width: 100px; align-self: center"
      />
    </form>
  </body>
</html>
