<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: Lora;
        font-size: 16px;
        line-height: 1.5;
        background-image: url("https://media.discordapp.net/attachments/876804452068257832/891608612793909248/iMac_-_1.png?width=1100&height=701");
      }

      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        background-color: #fae5cb;
        border-radius: 100px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #c98429;
        border-radius: 2px;
      }
      .wrapper {
        margin: 80px 80px;
      }

      .CardCollection {
        margin-top: 80px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 30px;
        justify-content: center;
      }

      .card {
        width: 300px;
        height: 300px;
        box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #f2c182;
        border-radius: 10px;
        padding: 20px;
        overflow-y: auto;
      }

      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        color: #7c5a36;
        text-shadow: 0px 4px 4px #c98429;
      }

      .title {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
      span {
        font-weight: bold;
        font-size: 16px;
      }
      .orangny {
        font-size: 16px;
        margin: 0;
        padding: 0;
      }

      .msg {
        margin-top: 16px;
      }

      @media only screen and (max-width: 912px) {
        .wrapper {
          margin: 80px 30px;
        }
      }
    </style>
    <title>Friend's Notes</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>From Who to Whom?</h1>
      <div class="CardCollection">
        {% for note in notes %}
        <div class="card">
          <p class="title">{{note.title}}</p>
          <p class="orangny"><span>From: </span> {{note.froms}}</p>
          <p class="orangny"><span>To: </span> {{note.to}}</p>
          <p class="msg">{{note.message}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
