body {
  background-image: url("https://media.discordapp.net/attachments/876804452068257832/891608612793909248/iMac_-_1.png?width=1100&height=701");
  font-family: monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fae5cb;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #c98429;
  border-radius: 2px;
}

.formWrapper {
  margin: 80px 20%;
}

.userForm input {
  background: #fbdcaa;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  margin-bottom: 16px;
  margin-top: 8px;
  padding: 4px 8px;
  font-size: 16px;
}

.form1 input {
  width: 300px;
  height: 36px;
}

.form2 input {
  width: 472px;
  height: 36px;
}

label {
  color: #7c5a36;
  font-weight: bold;
  font-size: 20px;
}

textarea {
  padding: 10px;
  width: 472px;
  height: 155px;
  background: #fbdcaa;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  margin-bottom: 16px;
  margin-top: 8px;
}

textarea:focus,
input:focus {
  outline: 2px solid #733917;
}

.button {
  background-color: #7c5a36;
  font-family: monospace;
  font-weight: bold;
  padding: 10px 18px;
  height: 44px;
  color: white;
  border-radius: 15px;
  border: none;
  outline: none;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: #7c5a36;
  text-shadow: 0px 4px 4px #c98429;
}

@media only screen and (max-width: 600px) {
  .formWrapper {
    margin: 80px 5%;
  }
  .form1 input {
    min-width: 200px;
    width: 50%;
  }

  .form2 input {
    min-width: 200px;
    width: 80%;
  }

  textarea {
    min-width: 200px;
    width: 80%;
  }
}
