body {
  font-family: monospace;
  font-size: 16px;
  background-image: url("https://media.discordapp.net/attachments/876804452068257832/891608612793909248/iMac_-_1.png?width=1100&height=701");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fae5cb;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #c98429;
  border-radius: 2px;
}
.wrapper {
  margin: 80px 80px;
}

.CardCollection {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 300px;
  box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f2c182;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #7c5a36;
  text-shadow: 0px 4px 4px #c98429;
}

.title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
span {
  font-weight: bold;
  font-size: 16px;
}
.orangny {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.msg {
  margin-top: 16px;
}

@media only screen and (max-width: 912px) {
  .wrapper {
    margin: 80px 20px;
  }
}
