body {
  font-family: monospace;
  font-size: 16px;
  background-image: url("https://media.discordapp.net/attachments/876804452068257832/891608612793909248/iMac_-_1.png?width=1100&height=701");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fae5cb;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #c98429;
  border-radius: 2px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #7c5a36;
  margin-bottom: 80px;
  text-shadow: 0px 4px 4px #c98429;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td:nth-child(-n + 3),
th:nth-child(-n + 3) {
  width: 8%;
}

td:nth-child(4),
th:nth-child(4) {
  width: 50%;
}

.wrapper {
  margin: 80px 80px;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    margin: 80px 20px;
  }
}
